<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<h1>新闻列表</h1>

<table  width="300" border="1" cellspacing="0">

    <tr>
        <th>编号</th>
        <th>标题</th>
        <th>作者</th>
        <th>添加时间</th>
        <th>操作</th>
    </tr>

    <?php  foreach($news as $row): ?>
    <tr>
    	<td><?php echo $row['id'];?></td>
    	<td><?php echo $row['title'];?></td>
    	<td><?php echo $row['author'];?></td>
    	<td><?php echo $row['add_time'];?></td>
    	<td>编辑 <a href="">删除</a> </td>
        
        
    </tr>
    <?php endforeach; ?>


</table>


</form>

</html>










